.esco_SimpleSocialNetwork {
  color: #3d4852;
  background-color: #f1f5f8;
}

.esco_SimpleSocialNetwork__container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.esco_SimpleSocialNetwork__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esco_SimpleSocialNetwork__title,
.esco_SimpleSocialNetwork__subtitle {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  margin-top: .25rem;
  margin-bottom: .25rem;
  color: #3d4852;
}
